html, body
{
    background-color:#2A3B49;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    padding:0;
}

.logo 
{
    color: #7BFFE9;
    font-size: 36px;
    margin: 0;
    padding:0;
}

header 
{
    width: auto;
    height: 50px;
    background-color: #2A3B49;
    margin: 0;
}

p.summary
{
    font-size: 30px;
    text-align: center;
    background-color: #2A3B49;
    border: none;
    border-radius: 150px 150px 150px 0;
    width: 606px;
    height: 354px;
    padding: 51px 34px 32px 27px;

    position: absolute;
    bottom: 0;
    left:0;
    margin: 0;
}
  
.main 
{
    background-image: url(assets/homepage.jpg);
    background-size:100% 100%;
    background-color: black;
    color: white;;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

button
{
  border: 1px solid #7BFFE9;
  border-radius: 60px;
  color:#7BFFE9;
  background-color: transparent;
  padding: 15px 32px;
  width: 14;
  height: 15;
  text-align: center;
  text-decoration: none;
  font-size: 36px;  
  position: fixed;
  bottom: 20px;
  right: 20px;
}
 
#header ul
{
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    background-color: #2A3B49;
    height:40px;
}

ul
{
    margin:0;
    padding:0;
}

a
{
 color: white;
 text-decoration: none;
}