html {
    background-color:#2A3B49;
    font-family: 'Montserrat', sans-serif;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin: 14px 23px 14px 23px;
}

p {
    font-size: 16px;
}

#mode {
  border: none;
  color: #7BFFE9;
  background-color: #2A3B49;

}

.dark-mode {
  background-color: #2A3B49;
  color: white;
}

.see {
    color: black;
    font-size: 10px;
}

#mode {
    font-size: 16px;
    text-decoration: none;
    color: #7BFFE9;
    margin-left: 23px;
    margin-right: 19px;
}

.logo {
    color: #7BFFE9;
    font-size: 36px;
    margin: 0 0 0 19px;
}

.summary {
    background-color: #2A3B49;
    border: none;
    border-radius: 150px 150px 150px 0;
    width: 667px;
    height: 437px;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    margin: 0;
    padding: 0;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }

  .me {
    height: 193px;
    width: 180px;
  }

  img {
    height: 193px;
    width: 345px;
    margin: 0;
    padding: 0;
    border-radius: 8px;
  }

  #slideshow{
    height: 582px;
    width: 1120px;
  }

  .flex-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .flex-butt{
    display: flex;
flex-direction: row;
justify-content: center;
  }

  #prev, #next{
    height: 35px;
    width: 103px;
    margin: 10px;
    background-color: #2A3B49;
    border-radius: 60px;
    border: none;
    color: #7BFFE9;
  }

  .head-container {
    display: flex;
    justify-content:space-between;
    height: 50px;
    width: auto;   
    background-color: #2A3B49;
    margin: 0;
  }

  .mini-container {
    display: flex;
    justify-content: center;
  }

.deets {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: -20px;
}

  .grid-container {
    display: grid;
    grid-template-areas: 
    "title title sub"
    "img1 img2 sub"
    "img3 img4 sub"
    "img5 img6 sub";
    margin-top: 62px;
    margin-left: 25px;
  }

  .subtitle {
    grid-area: title;
}

.img1 {
    grid-area: img1;
}
 
.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

  .submission-box {
    grid-area: sub;
    display: flex;
    flex-direction: column;
    background-color: #2A3B49;
    width: 481px;
    height: 608px;
    border: none;
    border-radius: 8px;
    justify-content: space-evenly;
    align-items: center;
}

.submit {
    height: 61px;
    width: 190.47px;
    border: 2px solid #7BFFE9;
    border-radius: 60px;
    color: #7BFFE9;
    background-color: #2A3B49;
}

.work {
    font-size: 24px;
    color: white;
    font-weight: 700;
}

input {
    width: 360px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    border: none;
}