html {
    background-color:#2A3B49;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    color: #7BFFE9;
    font-size: 36px;
}

header {
    width: auto;
    height: 50px;
    background-color: #2A3B49;
}

.subbmission-box {
    background-color: #2A3B49;
    width: 481px;
    height: 608px;
    border: none;
    border-radius: 8px;
}

.grid-container {
display: grid;
}

.summary {
    background-color: #2A3B49;
    border: none;
    border-radius: 150px 150px 150px 0;
    width: 667px;
    height: 437px;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }

  img {
    height: 193px;
    width: 345px;
  }